// Specific CSS for your home-page

.mid-box {
  display: flex;
  height: 100vh;
  background: white;
  justify-content: space-between;
  .mid-left{
    border-radius: 8px;
    width: 40%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 24px
  }
  .mid-right{
    border-radius: 8px;
    width: 40%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .right-top{
      height: 30%;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 4px;
    }
    .right-mid{
      height: 30%;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 4px;
    }
    .right-bottom{
      height: 30%;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 4px;
    }
  }
}

